table {
  width: 100%;
}

.container {
  padding: 50px 80px;
}

.messages {
  width: 100%;
  height: calc(100% - 120px);
  float: none;
  margin: 0px auto;
  padding-left: 0px;
  overflow-y: auto;
}

.message {
  padding: 6px 7px 8px 9px;
  max-width: fit-content;
  margin-top: 5px;
  border-radius: 8px;
}

.message-line {
  display: flex;
  flex-direction: row;
}

.message-line.me {
  justify-content: flex-end;
}

.message-line.other {
  justify-content: flex-start;
}

.message.me {
  background-color: aliceblue;
  margin-right: 50px;
}

.message.other {
  background-color: lightgreen;
  margin-right: 50px;
}

.user-name {
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 100px;
  max-width: 250px;
  width: 100%;
}

.input {
  width: 90%;
}
